@import url("https://fonts.googleapis.com/css?family=Raleway");

#main {
  text-align: center;
  height: 100%;
}

.dashboard {
    height: 100%;
    font-family: Raleway;
    // Main Weather Panel
    .weather {
        height: 50%;
        background: #0097C3;
        width: 33.3%;
        position: fixed;
        top: 0;
        left: 0;
        // Weather Stats Panel
        .weather__stats {
            height: 50%;
            width: 33.4%;
            padding: 15px;
            font-size: 30px;
            position: fixed;
            color: #FFF;
            background-color: #016b84;
            right: 33.3%;
            top: 0;
    
            &--list {
                padding-left: 0;

                li {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 0;
                    list-style: none;
                    text-align: left;
                    font-weight: bold;
                } 
            }
            // Weather forecast
            &--forecast {
                position: absolute;
                width: 94%;
                bottom: 15px;
                text-align: left;

                &-hour {
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid #fff;
                    padding: 5px;

                    .hour {
                       font-size: 40px; 
                    }
                    .icon {
                        width: 20%;
                        height: 80%;
                    }
                    .temp {
                        font-size: 40px; 
                    }
                }
            }
        }
    }

    .commute {
        height: 50%;
        width: 33.3%;
        position: fixed;
        background: #0097C3;
        color: #FFF;
        top: 0;
        right: 0;

        &__container {
            padding: 100px 15px;

            .commute__time {
                font-size: 80px;
                font-weight: bold;
            }
            .commute__header {
                display: block;
            }
            .commute__subhead {
                display: block;
                font-size: 60px;
            }
        }    
    }

    .news {
        height: 50%;
        width: 33.3%;
        position: fixed;
        background: #00596E;
        color: #FFF;
        left: 0;
        bottom: 0;
    }

    .ethereum {
        height: 50.04%;
        width: 33.4%;
        position: fixed;
        color: #FFF;
        background: #00A4D3;
        right: 33.3%;
        bottom: 0%;

        .stats {
            padding: 15px;

            li {
                font-size: 30px;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .clock {
        height: 50%;
        width: 33.3%;
        position: fixed;
        padding: 150px 15px;
        color: #FFF;
        font-weight: bold;
        background: #00596E;
        right: 0;
        bottom: 0;


        .time {
            font-size: 50px;

            &--ext {
                font-size: 35px;
            }
        }
    }

}

.forecast {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    height: 98%;

    &__header {
        font-size: 25px; 
    }

    &__temp {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 15px;
        font-size: 60px;  
    }
    &__icon {
        width: 60%;
        height: auto;
        margin: 0 auto;
        padding: 50px 0;
    }

}

.day {
    display: block;
    text-align: center;
    padding: 0 2.5px;
    width: 100% !important;

    span {
        display: inline-block;
        margin: 0 auto;

        &.min {
            padding: 0 5px 0 0;
        }

        &.max {
            padding: 0 0 0 5px;
            color: #FFF;
        }
    }
}

.news-header {
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
}

.stories {
    width: 100%;
    font-size: 12px;
    text-align: left;
    list-style: none;
    height: 85px;
    padding: 10px 15px;

    &:nth-child(2n+2) {
        background: #0087AF;
    }
}

.details {
    font-size: 9px;
    margin-left: 5px;
    text-align: right;
}

.percent {
    font-size: 40px;
}

.stats > li {
    text-align: left;
    margin: 10px auto;
    padding: 0;
    list-style-type: none;
    font-weight: bold;
    font-size: 15px;
}

.eth {
    height: 125px;
    width: 125px;
    border-radius: 4px;
}

.ethereum-header {
    font-size: 25px;
    margin-top: 10px;
    font-weight: bold;
}

.price,
.change {
    padding: 10px 5px;
}

.change {
    &.positive {
        color: green;
    }

    &.negative {
        color: red;
    }
}

.error,
.loading {
    position: relative;
    top: 50%;
    font-size: 15px;
    font-weight: bold;
}

// Large Breakpoints first
@media only screen  and (min-width : 1624px) {
    // Main Weather Panel
    .forecast {
        &__header {
            font-size: 45px; 
        }

        &__icon {
            padding: 80px 0;
        }

        &__temp {
            font-size: 80px;  
        }
    }
    // Weather Status Panel
    .dashboard .weather .weather__stats {
        &--list li {
            padding: 5px 0;
        }
        &--forecast {
            width: 95.5%;
        }
        &--forecast-hour {
            .hour {
               font-size: 40px; 
            }
            .icon {
                width: 15%;
                height: 80%;
            }
            .temp {
                font-size: 40px; 
            }
        }
    }
    // Commute info
    .dashboard .commute__container {
        padding: 175px 15px;
    }
    .news-header,
    .ethereum-header {
        font-size: 45px;
    }
    .stories {
        height: 110px;
        font-size: 20px;
        font-weight: bold;
    }
    .stats > li {
        font-size: 25px;
    }
    .percent {
        font-size: 75px;
    }
    .eth {
        height: 170px;
        width: 170px;
    }
    .dashboard .clock {
        padding: 175px 15px;

        .day {
            top: 7%; 

            img { 
                height: 200px;
                width: 200px;
            }
        }
        .night {
            top: 10%;

            img {
                height: 200px;
                width: 200px;
            }
        }
        .time {
            font-size: 80px;
            margin-top: 10px;
        }
    }
}

@media only screen  and (min-width : 1324px) and (max-width : 1623px) {
    .dashboard {
        // Main Weather Panel
        .forecast {
            &__header {
                font-size: 25px; 
            }
            &__icon {
                padding: 70px 0;
            }

            &__temp {
                font-size: 60px;  
            }
        }
        // Weather Stats Panel
        .weather .weather__stats {
            .weather__stats--list li {
                font-size: 25px;
                padding: 2.5px 0;
            }
            &--forecast {
                bottom: 5px;
                width: 95%;
            }
            &--forecast-hour {
                .hour,
                .temp {
                   font-size: 30px; 
                }
                .icon {
                    height: 60%;
                }
            }
        }
        .stories {
            font-size: 15.5px;
        }
        // Clock Panel
        .clock {
            .night {
                top: 10%;

                img {
                    height: 180px;
                    width: 180px;
                }
            }
            .day {
                top: 7%; 

                img { 
                    height: 200px;
                    width: 200px;
                }
            }
            .time {
                font-size: 75px;
                margin-top: 0;
            }
        }

        .weather,
        .news {
            width: 33.4%
        }

        .ethereum {
            .stats {                
                li {
                    font-size: 25px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .eth {
            height: 150px;
            width: 150px;
        }
        .percent {
            font-size: 50px;
        }
    }
}
